div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  color: red;
}
