table {
  width: 100%;
}

.main-Box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  overflow-y: auto;
}

.dialog-box {
  display: inline-flex;
}

.title {
  margin-top: 8px;
  font-size: 30px;
  font-weight: bold;
}

.titles {
  font-size: 18px;
  font-weight: 500;
}

.innerBox {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  margin-left: 10px;
  padding: 28px 10px;
  font-size: 17px;
}

.icon-display {
  transform: scale(1.1);
  color: black;
}

.small-icon-button {
  width: 17px !important;
  height: 17px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  background-color: white;

  & > *[role="img"] {
    width: 16px;
    height: 16px;
    font-size: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 24px !important;
    height: 24px !important;
  }
}

.loading-box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 350px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #2b59ff;
  letter-spacing: 0.2em;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: blue;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 350px;
    height: 30px;
    width: 15px;
  }
}
