<div>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <h2>Log In</h2>
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            formControlName="username"
            required
          />
          <mat-error> Please provide a valid email address </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="loading">
          @if (!loading) { Sign In } @else {
          <mat-spinner diameter="20"></mat-spinner>
          }
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  <a routerLink="" class="link">Forgot Password? </a>
  <a routerLink="/sign-up" style="margin-top: 15px" class="link"
    >Member Sign Up</a
  >
</div>
