<mat-dialog-content style="width: 500px">
  <header><h2>Add Admins</h2></header>
  <form [formGroup]="memberForm" (ngSubmit)="submitForm()">
    <mat-form-field style="width: 48%">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      @if (memberForm.get('name')?.hasError('required')) {
      <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%; margin-left: 15px">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
      @if(memberForm.get('email')?.hasError('required')){
      <mat-error>Email is required</mat-error>
      }@else {
      <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%">
      <mat-label>Tech Stack</mat-label>
      <mat-select formControlName="tech_stack">
        @for (option of options; track $index) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 48%; margin-left: 15px">
      <mat-label>Role</mat-label>
      <mat-select matInput formControlName="role">
        @for (Toption of Toptions; track $index) {
        <mat-option [value]="Toption">{{ Toption }}</mat-option>
        }
      </mat-select>
      @if (memberForm.get('role')?.hasError('required')) {
      <mat-error>Role is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%">
      <mat-label>Departments</mat-label>
      <mat-select matInput formControlName="department" multiple>
        @for (option of Poptions; track $index) {
        <mat-option [value]="option._id">{{ option.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 48%; margin-left: 15px">
      <mat-label>Teams</mat-label>
      <mat-select matInput formControlName="teams" multiple>
        @for (option of Poptions; track $index) {
        <mat-option [value]="option._id">{{ option.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <p *ngIf="isValid" style="color: red">Please fill all fields</p>
    <div style="display: flex">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="($event.preventDefault); submitForm()"
      >
        Save
      </button>
      <button
        mat-stroked-button
        color="primary"
        style="margin-left: 5px"
        matDialogClose
      >
        Cancel
      </button>
    </div>
  </form>
</mat-dialog-content>
