<mat-dialog-content style="width: 500px; max-height: 650px">
  <header><h2>Project Details</h2></header>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <mat-form-field style="width: 48%">
      <mat-label>Project Name</mat-label>
      <input matInput formControlName="name" required />
      @if (projectForm.get('name')?.hasError('required')) {
      <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%; margin-left: 15px">
      <mat-label>Stack</mat-label>
      <input matInput formControlName="stack" required />
      @if (projectForm.get('stack')?.hasError('required')) {
      <mat-error>Stack is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%">
      <mat-label>Team Lead</mat-label>
      <mat-select matInput formControlName="team_lead" required>
        @for (Toption of Toptions; track $index) {
        <mat-option [value]="Toption">{{ Toption }}</mat-option>
        }
      </mat-select>
      @if (projectForm.get('team_lead')?.hasError('required')) {
      <mat-error>Team Lead is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 23%; margin-left: 15px">
      <mat-label>Duration</mat-label>
      <input
        matInput
        formControlName="duration"
        required
        type="number"
        min="0"
      />
      @if (projectForm.get('duration')?.hasError('required')) {
      <mat-error>Duration is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 23%; margin-left: 2px">
      <mat-label>Unit</mat-label>
      <mat-select matInput>
        <mat-option value="months">Months</mat-option>
        <mat-option value="weeks">Weeks</mat-option>
        <mat-option value="days">Days</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 48%">
      <mat-label>Coordinator</mat-label>
      <mat-select matInput formControlName="coordinator" required>
        @for (Toption of Toptions; track $index) {
        <mat-option [value]="Toption">{{ Toption }}</mat-option>
        }
      </mat-select>
      @if (projectForm.get('coordinator')?.hasError('required')) {
      <mat-error>coordinator is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%; margin-left: 15px">
      <mat-label>Platform</mat-label>
      <input matInput formControlName="platform" required />
      @if (projectForm.get('paltform')?.hasError('required')) {
      <mat-error>coordinator is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%">
      <mat-label>Client</mat-label>
      <input matInput formControlName="client" required />
      @if (projectForm.get('client')?.hasError('required')) {
      <mat-error>Client is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%; margin-left: 15px">
      <mat-label>Consultant</mat-label>
      <input matInput formControlName="consultant" required />
      @if (projectForm.get('consultant')?.hasError('required')) {
      <mat-error>Consultant is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%">
      <mat-label>Status</mat-label>
      <mat-select matInput formControlName="status" required>
        <mat-option value="completed">Completed</mat-option>
        <mat-option value="on-going">On-Going</mat-option>
      </mat-select>
      @if (projectForm.get('status')?.hasError('required')) {
      <mat-error>Status is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 48%; margin-left: 15px">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        formControlName="start_date"
        required
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      @if (projectForm.get('start_date')?.hasError('required')) {
      <mat-error>Start Date is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 49%; margin-right: 15px">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        formControlName="end_date"
        required
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      @if (projectForm.get('end_date')?.hasError('required')) {
      <mat-error>End Date is required</mat-error>
      }
    </mat-form-field>

    @if (isValid) {
    <p style="color: red">Please fill all fields</p>
    }
    <div style="display: flex; margin-top: 10px; width: 48%; float: right">
      <button mat-raised-button color="primary" style="width: 100px">
        Save
      </button>
      <button
        mat-stroked-button
        color="primary"
        style="margin-left: 5px; width: 100px"
        matDialogClose
      >
        Cancel
      </button>
    </div>
  </form>
</mat-dialog-content>
