@if (!tableLoading) {
<div class="main-Box">
  <div class="innerBox">
    <div class="title">Admins</div>

    <div class="dialog-box">
      <mat-form-field>
        <mat-label>Search by name</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="openDialog()"
        class="add-btn"
      >
        Add Admins
      </button>
      <!-- <menu style="margin: 0; padding-left: 10px"></menu> -->
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z">
    <!-- Name Column -->
    <ng-container matColumnDef="admin_name">
      <th mat-header-cell *matHeaderCellDef class="titles">Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.name | titlecase }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="titles">Email</th>
      <td mat-cell *matCellDef="let element">{{ element?.email }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="titles">Role</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.role | titlecase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="titles">Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="action" #actionTrigger>
          @if (!element.loading) {
          <mat-icon>delete</mat-icon>
          }@else {
          <mat-spinner diameter="20"></mat-spinner>
          }
        </button>
        <mat-menu #action="matMenu">
          <div class="dlt-dialog">
            <h2>Are you sure you want to delete</h2>
            <button
              mat-raised-button
              color="primary"
              (click)="handleDelteAdmin(element)"
            >
              Yes
            </button>
            <button mat-raised-button color="warn" style="margin-left: 10px">
              No
            </button>
          </div>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
}@else {
<div class="loading-box">
  <div class="loader">Loading Admins Data...</div>
</div>
}
